.logo1 {
    /* margin-top: 5rem; */
    display: flex;
    height: 2rem;
    font-weight: bold;
    font-size: 22px;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    /* height: 4%; */
  }
  .custom-icon-color {
    color: white !important;
  }
  .logo1 > img {
    width: 2rem;
    height: 2rem;
  }
  .logo1 > span > span {
    color: var(--pink);
  }
  .custom-navbar {
    background: linear-gradient(
      106.37deg,
      #ffe1bc 29.63%,
      #ffcfd1 51.55%,
      #f3c6f1 90.85%
    );
  }
  .row-card p {
    font-size: 22px;
    text-align: left;
  }
  .centered-links {
    justify-content: center;
    width: 100%;
  }
  .custom-container {
    padding-left: 60px;
    padding-right: 60px;
  }
  .about {
    font-family: 'Montserrat';
    overflow: hidden;
    margin-top: 30px;
    
  }
  /* .img_bounce {
    width: 1000px;
  } */
  .row-abot {
    padding: 0 60px;
    display: flex;
  }
  /* .row-card {
    margin-top: 80px;
  } */
  .about-header1 {
    justify-content: center;
    font-size: 120px;
    color: #552679;
    line-height: 90px;
    font-weight: 700;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-family: 'Montserrat';
    font-style: normal;
    margin-top: 120px;
    /* line-height: 64px; */
  }
  .row-text{
    margin-top: 20px;
  }

  .btn-started1 {
    border: #FF919D;
    border-style: solid;
    padding: 10px 30px;
    border-radius: 10px;
    color: #000;
    margin-top: 20px;
  }
  .btn-started {
    background: #FF919D;
    padding: 10px 30px;
    border-radius: 10px;
    color: #fff;
    margin-top: 20px;
  }
  .btn-started:hover {
    background: #552679;
  }
  .btn-started1:hover {
    background: #FF919D;
    color: #fff;
    border: none;
  }
  .security {
    background: #f9f3f3;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 60px 60px;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    width: 100%;
  }
  .security-img {
    width: 5%;
    text-align: center;
    justify-content: center
  }
  .security-header {
    margin-top: 24px;
    font-size: 20px;
    font-weight: bold;
  }
  .security-p {
    font-size: 15px;
    text-align: left;
  }
  .header_security {
    justify-content: center;
  }
  .security-container {
    display: grid;
    place-items: center;
  }

  

  .security1 {
    background: #FFD7F0;
    display: flex;
    justify-content: space-between;
    padding: 60px 60px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 30px;

    
  }

  .security1-img {
    width: 40%;

  }
  .security-header1 {
    margin-top: 30px;
    font-size: 48px;
    font-weight: bolder;
  }
  
  .security-p1 {
    font-size: 20px;
    text-align: left;
    margin-top: 20px;
  }

  .security2 {
    background: #BBF6E2;
    display: flex;
    justify-content: space-between;
    padding: 60px 60px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 30px;

    
  }

  .header_security2{
    margin-top: 50px;
  }

  
  .explore {
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 60px 60px;
  }
  .explore h1, .services h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #552679;
    margin-top: 30px;
  }
  .explore p {
    text-align: center;
    font-size: 15px;
    margin-bottom: 20px;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .custom-card {
    width: 18rem;
    margin: 1rem;
  }
  .card-text-left {
    text-align: left;
    margin: 0;
  }
  
  .custom-card.zoom-out {
    transition: transform 0.3s ease;
    transform: scale(1.1);
  }

  .contact {
    background: #f5a5ae;
    display: flex;
    padding: 60px 60px;
    margin-top: 300px;
    border-radius: 50px;
    margin-left: 60px;
    margin-right: 60px;
    
  }

  .contact_header {
    display: block;
  }
.contact_header p {
  font-size: 18px;
}
  .contact-header1 {
    justify-content: center;
    font-size: 64px;
    color: #552679;
    line-height: 90px;
    font-weight: 700;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-family: 'Montserrat';
    font-style: normal;
    margin-top: 100px;
  }
  .img_contact {
    margin-top: -230px;
  }
  .footer {
    padding-left: 35px;
    padding-right: 20px;
    /* background-color: #ED4741;
    border-radius: 30px; */
    /* margin-left: 60px;
    margin-right: 60px; */
    padding: 60px 60px 60px 60px;
    position: relative;
    margin-top: 40px;
  }
  .appstore {
    width: 13%;
  }
  
  .google {
    width: 17%;
  }
  .footer-box {
    background-color: #ED4741;
    border-radius: 50px;
    /* margin-left: 60px;
    margin-right: 60px; */
    text-align: center;
    padding: 50px 40px;
    position: absolute;
    z-index: 2;
    margin-top: -180px;
  }
  .top-text {
    color: #fff;
    font-size: 60px;
    font-weight: bold;
  }
  .text-p {
    color: #fff;
    font-size: 25px;
  }
  .footer-img {
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
 
  .footer-2 {
    background-color: #091723;
    padding-top: 300px;
    border-radius: 20px 20px 0 0;
    margin-top: -100px;
  }

  .footer-first{
    display: flex;
    padding: 0 60px 0 60px;
  }

  .logo-2{
    display: inline-flex;
    margin-left: 800px;
    cursor: pointer;
   
    
  }

  .logo-text{
    color: #fff;
    font-size: 40px;
    font-weight: bold;
  }

  .footer-list{
    display: flex;
    color: #fff;
    gap: 35px;
    padding: 0 60px 0 60px;
  }

  .list-t li{
    font-size: 18px;
    line-height: 20px;
    padding-top: 30px;
  }

  .footer-icon{
    width: 3%;
    display: inline-flex;
    gap: 15px;
    margin-left: 320px;
    margin-bottom: 450px;
    cursor: pointer;
  }

  .google1{
    width: 55%;
  }

  .appstore1{
    width: 43%;
  }

  .lower-text{
    margin-top: 60px;
    padding: 0 60px 0 60px;
    color: #fff;
  }

  .ttp-title{
    font-size: 23px;
    font-weight: bold;
  }

  .ttp-text{
    margin-top: 30px;
  }

  .img_bounce {
    margin-top: 50px;
    text-align: center;
    animation: bounce 2s infinite alternate;
  }

  .service-image{
    display:flex;
    width: 33%;
    margin-top: 30px;
  }
  .service-text{
    margin-top: 15px;
    text-align: center;
    font-size: 20px;
    
  }
  .Booking{
    display: flex;
    justify-content: space-between;
    padding: 80px;
    margin-top: 100px;
  }

  .bbc{
    width: 30%;
  }

  .b-t{
    font-size: 50px;
    font-weight: bold;
  }
  .Booking-text{
    margin-top: 230px;
  }
  .b-p{
    margin-top: 10px;
    font-size: 20px;
  }
  .box{
    width: 50px;
    background-color: #166a6e;
    border-radius: 100px;
    height: 50px;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
  }
  .box:hover{
      animation-play-state: paused;
  }

  @keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:rgb(0, 183, 255); left:0px; top:0px;}
  }
 
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  

  

  @media (max-width: 576px) { 
    .row-abot {
      display: block;
      justify-content: center;
      padding: 0 30px;
      text-align: center;
    }
    .about-header1 {
      text-align: left;
      font-size: 30px;
    }
    .row-card {
      display: block;
      text-align: center;
      margin-left: 15px;
    }
    .custom-card {
        width: calc(100% - 2rem);
      }
   }
  
   @media (max-width: 768px) { 
    .about-header1 {
      text-align: left;
      font-size: 30px;
      line-height: 45px;
      font-weight: 700;
    }
    .custom-card {
        width: calc(50% - 2rem);
      }
    .img_bounce {
      margin-top: 50px;
      text-align: center;
    }
   }
  
   @media (max-width: 992px) { 
    .about-header1 {
      text-align: left;
      font-size: 30px;
      line-height: 45px;
      font-weight: 700;
    }
    .img_bounce {
      margin-top: 50px;
      text-align: center;
    }
   }
  
  
  
  
  
  
  
  
  
  
  