.MainDash{
    /* padding-top: 1rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.MainDash h1{
    font-size: 2rem;
    font-weight: bold;
    /* margin-left: 4rem; */
}
.card23 {
    display: flex;
    gap: 20px;
}
.acctName {
    color: #FF919D;
    font-size: 32px;
    font-weight: bold;
}

.icons-dash{
    display: flex;
    gap: 2rem;
}

@media screen and (max-width: 1200px) {
    .MainDash{
        justify-content:flex-start;
        /* margin-top: 2rem; */
    }
}

@media screen and (max-width: 768px)
{
    .MainDash{
        align-items: center;
    }
}