.MainDash{
    /* padding-top: 1rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.MainDash h1{
    font-size: 2rem;
    font-weight: bold;
    /* margin-left: 4rem; */
}
.card23 {
    display: flex;
    gap: 20px;
    margin-top: -40px;
}
.acctName {
    color: #FF919D;
    font-size: 32px;
    font-weight: bold;
}
.img_body h2 {
    font-size: 20px;
    color: blueviolet;
    text-align: center;
    margin-top: 20px;
}
.card_img {
    /* height: 80%; */
    text-align: center;
    /* margin: auto; */
}
.icons-dash{
    display: flex;
    gap: 2rem;
}
.card23 a {
    width: 100%;
    position: relative; /* To ensure the pseudo-elements are positioned correctly */
    display: block; /* To allow the pseudo-elements to cover the whole card */
  }
  
  .card23 a::before {
    content: ""; /* Create a pseudo-element to darken the card on hover */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); /* Semi-transparent black overlay */
    opacity: 0; /* Initially invisible */
    transition: opacity 0.3s ease; /* Add a transition effect to smooth the hover */
  }
  
  .card23 a:hover::before {
    opacity: 1; /* Show the dark overlay on hover */
  }
  
  .card23 a:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a box shadow on hover */
  }

@media screen and (max-width: 1200px) {
    .MainDash{
        justify-content:flex-start;
        /* margin-top: 2rem; */
    }
}

@media screen and (max-width: 768px)
{
    .MainDash{
        align-items: center;
    }

    .card23 {
        flex-direction: column; 
        margin-top: 90px; 
      }
    
}

/* @media screen and (min-width: 768px) {
    .card23 {
        margin-top: 150px;
        display: block;
        justify-content: center;
        text-align: center;
    }
} */