.MainDash{
    /* padding-top: 1rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.MainDash h1{
    font-size: 2rem;
    font-weight: bold;
    /* margin-left: 4rem; */
}
.card23 {
    display: flex;
    gap: 20px;
    margin-top: -40px;
}
.acctName {
    color: #FF919D;
    font-size: 32px;
    font-weight: bold;
}
.img_body h2 {
    font-size: 20px;
    color: blueviolet;
    text-align: center;
    margin-top: 20px;
}
.card_img {
    height: 80%;
    text-align: center;
    margin: auto;
}
.icons-dash{
    display: flex;
    gap: 2rem;
}

@media screen and (max-width: 1200px) {
    .MainDash{
        justify-content:flex-start;
        /* margin-top: 2rem; */
    }
}

@media screen and (max-width: 768px)
{
    .MainDash{
        align-items: center;
    }
    
}

/* @media screen and (min-width: 768px) {
    .card23 {
        margin-top: 150px;
        display: block;
        justify-content: center;
        text-align: center;
    }
} */