.AccountNumberCard {
  width: auto;
  height: 9 rem !important;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.accountNumber {
  text-align: left;
}

.accountNumber h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}

.accountNumber span {
  font-size: 24px;
  font-weight: bold;
}


.CompactCard {
    margin-top: 5rem;
    display: flex;
    flex: 1;
    height: 9 rem !important;
    border-radius: 0.7rem;
    color: white;
    padding: 1rem;
    position: relative;
    cursor: pointer;
  }
  
  .CompactCard:hover {
    box-shadow: none !important;
  }
  
  /* radial bar */
  .CompactCard .radialBar {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
  }
  
  .CompactCard .CircularProgressbar {
    width: 4rem !important;
    overflow: visible;
  }
  
  .CompactCard .CircularProgressbar-path {
    stroke: white !important;
    stroke-width: 12px !important;
    filter: drop-shadow(2px 4px 6px white);
  }
  
  .CompactCard .CircularProgressbar-trail {
    display: none;
  }
  
  .CompactCard .CircularProgressbar-text {
    fill: white !important;
  }
  
  .CompactCard .radialBar > span {
    font-size: 17px;
    font-weight: bold;
  }
  
  /* sideDetail*/
  .CompactCard .detail {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
  }
  
  .CompactCard .detail > span:nth-child(2) {
    font-size: 22px;
    font-weight: bold;
  }
  
  .CompactCard .detail > span:nth-child(3) {
    font-size: 12px;
  }
  

  @media screen and (max-width: 768px) {
    .AccountNumberCard {
      max-width: 100%;
      height: auto;
    }
  }